$orange: rgb(255, 114, 69);
$light-orange: rgba(255, 114, 69, 0.7);
$light-orange-hover: rgba(255, 114, 69, 0.88);

button {
  outline: none;
  line-height: 1px;
}

.house-page-wrapper {
  display: flex;
  justify-content: center;
  font-family: 'Noto Sans KR', Helvetica, sans-serif;

  .initial-contents {
    margin-top: 30vh;
    padding: 0 56px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      line-height: 2.7rem;
      font-size: 1.5rem;
      font-weight: 500;
    }

    .create-button {
      margin-top: 40px;
      border: solid 1px $orange;
      border-radius: 100px;
      font-size: 2rem;
      font-weight: bold;
      padding: 2rem 2.2rem;
      color: $orange;

      &:hover {
        background-color: $orange;
        color: white;
      }
    }
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    max-width: 600px;
    width: 100%;

    .create-button {
      border: solid 1px $orange;
      border-radius: 100px;
      font-size: 1rem;
      height: 2.2rem;
      width: 4rem;
      color: $orange;
      cursor: pointer;

      &:hover {
        background-color: $orange;
        color: white;
      }
    }
  }

  .house-card {
    background-color: $light-orange;
    border-radius: 12px;
    display: flex;
    margin: 0 21px 30px;
    justify-content: space-between;
    height: 50vw;
    color: white;
    max-width: 600px;
    width: 100%;
    max-height: 300px;
    cursor: pointer;

    &:hover {
      background-color: $light-orange-hover;
    }

    .house-name-intro {
      margin: 0px 0px 0px 10px;
      font-size: 1.125rem;
    }

    .house-name {
      position: absolute;
      display: flex;
      margin: 10px 0px 0px 5px;
    }

    .house-intro {
      position: absolute;
      display: flex;
      margin: 10px 0px 0px 5px;
    }

    .right-info {
      margin: 28px 21px 21px 21px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        text-align: center;
        font-size: 1.125rem;
      }
    }

    .button-wrapper {
      display: flex;
      flex-direction: column;
      
      button:first-child {
        margin-bottom: 16px;
      }

      button {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 1rem;
        padding: 1rem;
        border: none;
        border-radius: 100px;
        color: $orange;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &:hover {
          background-color: $orange;
          color: white;
        }
      }
    }
  }
}

@media(max-width: 800px) {
  .house-page-wrapper {
    section {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .create-modal {
    display: flex;
    flex-direction: column;
    width: 92vw;
    max-width: 500px;
    max-height: 500px;
    height: 130vw;
    margin: auto;
    background: white;
    border-radius: 16px;
    outline: none;
    position: relative;
    align-items: center;
    justify-content: space-around;

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      color: rgba(0, 0, 0, 0.86);
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  .create-modal-overlay {
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
  }

  .house-name {
    display: flex;
    width: 250px;
    margin: 10px 0px 0px 5px;
  }

  .house-intro {
    display: flex;
    width: 230px;
    margin: 10px 0px 0px 5px;
  }
}

@media(min-width: 800px) {
  .house-page-wrapper {
    section {
      width: 50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .create-modal {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    margin: auto;
    background: white;
    border-radius: 16px;
    outline: none;
    position: relative;
    align-items: center;
    justify-content: space-around;

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      color: rgba(0, 0, 0, 0.86);
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  .create-modal-overlay {
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
  }
}
