.necessity-list-block {
  /* flex: 1; */
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 15px 0px;
  padding-bottom: 15px;
  overflow-y: auto;
}

/* .necessity-counter-block {
  flex: 1;
  padding: 1px 3px;
  padding-bottom: 5px;
  overflow-y: auto;
} */

.necessity-item-block {
  width: 160px;
  height: 106.8px;
  display: flexbox;
  align-content: space-around;
  overflow-y: auto;
  border-radius: 12px;
  border: solid 0.5px #828282;
  background-color: #ffffff;
}
