.necessity-list-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px 0px;
  padding-bottom: 15px;
}

.necessity-item-wrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid gray;
  border-radius: 16px;
  padding: 12px 8px 16px 8px;
}

.create-button {
  background: none;
  border: none;
}

.create-button-wrapper .fa-plus {
  font-size: 3em;
  color: orange;
}

.create-button-wrapper .fa-plus:hover {
  color: rgb(253, 174, 54);
}

.necessity-item-and-counter-wrapper button {
  margin: 0;
}

.necessity-item-and-counter-wrapper {
  display: flex;
  justify-content: space-between;
  width: 32%;
  min-width: 180px;
  margin: 0 0 12px 0;
}

.counter-wrapper {
  display: flex;
  flex-direction: column;
}

.counter-wrapper h5 {
  margin: 0;
  text-align: center;
}

.edit-wrapper {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

@media screen and (max-width: 540px) {
  .only-on-desktop {
    display: none;
  }
}
