/* Full-width input fields */
.modal input[type="text"],
.modal input[type="password"] {
  width: 96%;
  padding: 30px 0 30px 15px;
  margin: 16px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.modal label {
  font-size: 24px;
}

.modal input {
  font-size: 24px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 8px;
}

/* Add a background color when the inputs get focus */
.modal input[type="text"]:focus,
.modal input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.modal .clearfix > button {
  background-color: orange;
  color: white;
  padding: 24px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;

  font-size: 32px;
  font-weight: bold;

  border: none;
  border: solid 1px #ccc;
  border-radius: 8px;
}

.modal button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.modal .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
  opacity: 0.92;
}

.modal button:disabled {
  opacity: 0.5;
}

/* Add padding to container elements */
.container {
  padding: 16px 24px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #33474e5d;

  padding-top: 50px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 8% auto 0 auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  border-radius: 12px;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
.modal hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 450px;
  top: 180px;
  font-size: 50px;
  font-weight: bold;
  color: #f48236;
}

.close:hover,
.close:focus {
  color: #f48236;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 440px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
  .modal-content {
    width: 100%;
  }
  .modal input {
    font-size: 24px;
  }
}

@media screen and (max-width: 1080px) and (min-width: 440px) {
  .modal-content {
    margin: 4% auto 0 auto;
    border: 1px solid #888;
    border-radius: 12px;
    width: 60%;
  }

  .modal .clearfix > button {
    padding: 12px 16px;
  }

  .modal input[type="text"],
  .modal input[type="password"] {
    width: 96%;
    padding: 15px 0 15px 15px;
    margin: 16px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
}
