/* web fonts */
@media (min-width: 800px) {
  /* custom variables */
  :root {
    --deep-orange: #d9493d;
    --soft-orange: #f52423;
  }
  /* HTML tags */
  ul {
    list-style: none;
    padding-left: 0;
  }

  main > div {
    display: inline;
    float: left;
  }

  .info-box {
    display: flex;
  }

  /* classes */
  .soft-orange {
    color: var(--soft-orange);
  }

  .deep-orange {
    color: var(--deep-orange);
  }

  .info-ui {
    background-color: rgb(255, 245, 235);
    padding: 0 10%;
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
  }

  .orangenongjang-introduction-box {
    padding-bottom: 3em;
  }

  .user-profiles {
    padding-bottom: 5em;
  }

  .user-profile-box {
    outline-style: double;
  }

  .user-profile {
    padding: 0px 10px 10px 10px;
  }
}

/* app fonts */
@media (max-width: 800px) {
  /* custom variables */
  :root {
    --deep-orange: #d9493d;
    --soft-orange: #f52423;
  }
  /* HTML tags */
  ul {
    list-style: none;
    padding-left: 0;
  }

  main > div {
    display: inline;
    float: left;
  }

  /* classes */
  .soft-orange {
    color: var(--soft-orange);
  }

  .deep-orange {
    color: var(--deep-orange);
  }

  .info-ui {
    background-color: rgb(255, 245, 235);
    padding: 0 10%;
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
  }

  .user-profiles {
    padding-bottom: 5em;
    padding-right: 1em;
  }

  .user-profile-box {
    outline-style: double;
  }

  .user-profile {
    padding: 0px 10px 10px 10px;
  }

  .user-profile-photo {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}
