.house-toss-leader-form {
  display: grid;
  width: 50%;
}

.house-modal-text {
  text-align: center;
}

.house-user-container {
  padding-bottom: 0.5em;
}

.members-box-title {
  position: sticky;
  top: 0;
  padding: 0px 0px 5px 0px;
  text-align: center;
  background: white;;
}

.members-box {
  overflow: auto;
  outline: 0.5mm;
  outline-style: solid;
  outline-color: darksalmon;
  cursor: all-scroll;
}

.member-box {
  padding: 5px 15px 10px 15px;
}

.house-modal-name-intro {
  margin: 20px 20px 0px 0px;
}

.house-modal-name {
  display: flex;
  margin: 10px 0px 0px 10px;

  .house-modal-name-update-box {
    display: flex;

    div:last-child {
      display: flex;
      justify-content: center;
      margin-top: 4px;
    }

    button {
      width: 4vw;
      height: 3vh;
      border-radius: 5px;
    }
  }
}

.house-modal-name-update-input {
  margin: 5px 0px 0px 0px;
}

.house-modal-intro {
  display: flex;
  margin: 10px 0px 10px 10px;

  .house-modal-intro-update-box {
    display: flex;

    div:last-child {
      display: flex;
      justify-content: center;
      margin-top: 4px;
    }

    button {
      width: 3vw;
      height: 2.5vh;
      border-radius: 5px;
    }
  }
}

.house-modal-intro-update-input {
  padding: 5px 0px 0px 5px;
}
