.main-tabs {
    margin: 5% 20%;
    display: flex;
}

.main-tab {
    margin: 0 auto;
    background-color: #ffffff;

    width: 9em;
    padding: 0.8em 0;

    border: 0.2px solid rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    border-radius: 12px;

    line-height: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    
}
.main-tab:hover {
    background-color: rgb(255, 165, 0);
}
.main-tab:active {
    background-color: rgb(255, 150, 0);
}
