$HEADER_HEIGHT_ON_MOBILE: 76px;
$HEADER_HEIGHT_ON_DESKTOP: 104px;
$BACKGROUND_BEIGE: rgb(255, 245, 235);

.main-page { 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - #{$HEADER_HEIGHT_ON_DESKTOP});
    background-color: $BACKGROUND_BEIGE;
}

.main-tabs {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    width: 56vw;
    cursor: pointer;

    .main-tab {
        background-color: #ffffff;
        width: 8em;
        padding: 0.8em 0;
        text-align: center;
        border: 0.2px solid rgba(0, 0, 0, 0.16);
        border-radius: 12px;
        font: 500 1.2em 'Noto Sans KR', sans-serif;
    }
    
    .main-tab:hover {
        background-color: rgb(255, 165, 0);
    }
    .main-tab:active {
        background-color: rgb(255, 150, 0);
    }
}

@media screen and (max-width: 540px) {
    .main-page {
        height: calc(100vh - #{$HEADER_HEIGHT_ON_MOBILE});

        .main-tabs {
            display: flex;
            justify-content: space-evenly;
            margin-top: 21px;
            width: 100vw;
   
            .main-tab {
               font: 500 16px 'Noto Sans KR', sans-serif;
               width: 20vw;
               min-width: 74px;
               padding: 0.5em 0;
           }
       }
    }
}
