.placebox-wrapper {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slick-prev::before, .slick-next::before {
    left: 5% !important;
    font-size: 30px !important;
    color: black !important;
}
