.placebox-wrapper {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.slick-list {
    padding: 24px 32px !important;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slick-prev::before, .slick-next::before {
    left: 5% !important;
    font-size: 30px !important;
    color: black !important;
}

.create-place-box {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50vh;
}

.create-place-box button {
    height: 120px;
    width: 120px;
    border: 2px solid #e9ecef;
    border-radius: 16px;
}
